.container
  .row
    .col-md-6
      %h2
        Instructions
      %p
        Please put Flicker8k_Dataset pictures in public/datasets/Flicker8k_Dataset folder
        %br
        For using analogies upload glove vector file first:
        %i#dataset-uploaded-state.glyphicon.glyphicon-remove{style: "color: red; font-size: 18pt;"}
      =form_tag analogies_path, multipart: true, :remote => true do

        .col-lg-10.col-sm-6.col-12
          .input-group
            %span.input-group-btn
              %span.btn.btn-primary.btn-file
                Browse&hellip;
                =file_field_tag 'glove-file', multiple: true
            %input.form-control{type: 'text', readonly: true}

        =submit_tag 'Analyze', class: 'btn btn-success'

      =form_tag search_cca_search_index_path, :remote => true, method: :get do
        %h2
          Search picture
        .row
          .col-md-3
            .input-group
              =text_field_tag :k, '', class:'form-control input-lg', placeholder: 'K'
              %span.input-group-addon='%'
          #search-input.col-md-9
            .input-group
              =text_field_tag :q, '', class:'form-control input-lg'
              %span.input-group-btn
                =button_tag class:'btn btn-info btn-lg', type: :submit do
                  %i.glyphicon.glyphicon-search
      =form_tag search_description_cca_search_index_path, :remote => true, method: :get do
        %h2
          Search description
        .row
          .col-md-3
            .input-group
              =text_field_tag :k, '', class:'form-control input-lg', placeholder: 'K'
              %span.input-group-addon='%'
          #search-input.col-md-9
            .input-group
              =text_field_tag :q, '', class:'form-control input-lg'
              %span.input-group-btn
                =button_tag class:'btn btn-info btn-lg', type: :submit do
                  %i.glyphicon.glyphicon-search
      .row
        %h3
          Run benchmark
        =form_tag benchmark_cca_search_index_path, remote: true do
          .col-sm-3
            .input-group
              =text_field_tag :k, '', class: 'form-control', placeholder: 'K'
              %span.input-group-addon='%'
          %span.input-group-btn.col-sm-2
            =submit_tag 'Benchmark', name: :image_search_method, class: "btn btn-default "
            =submit_tag 'Benchmark_reversed', name: :image_search_reversed_method, class: "btn btn-default "


  .row
    %h2
      Search results
    #search-results
    #search-descriptions
