%h1
  Analogies
%h2
  Import training dataset
  %i#dataset-uploaded-state.glyphicon.glyphicon-remove{style: "color: red; font-size: 18pt;"}
=form_tag analogies_path, multipart: true, :remote => true do

  .col-lg-6.col-sm-6.col-12
    .input-group
      %span.input-group-btn
        %span.btn.btn-primary.btn-file
          Browse&hellip;
          =file_field_tag 'glove-file', multiple: true
      %input.form-control{type: 'text', readonly: true}

  =submit_tag 'Analyze', class: 'btn btn-success'
#experiments.col-lg-12{hidden: true}
  .row
    %h2
      Your experiments
  .row
    %h3
      Choose analogy method
  =form_tag guess_analogies_path, :remote => true do
    .row
      =radio_button_tag :analogy_method, 'addition', true
      =label_tag :analogy_method_addition, 'Addition'
      =radio_button_tag :analogy_method, 'direction', false
      =label_tag :analogy_method_direction, 'Direction'
      =radio_button_tag :analogy_method, 'multiplication', false
      =label_tag :analogy_method_multiplication, 'Multiplication'
    .row
      %h3
        Ask something
    .row
      =text_field_tag :v1, '', class: 'col-sm-2'
      .col-sm-1='is to'
      =text_field_tag :v2, '', class: 'col-sm-2'
      .col-sm-1='like'
      =text_field_tag :question, '', class: 'col-sm-2'
      .col-sm-1='is to'
      =submit_tag 'Ask', class: 'btn btn-default col-sm-1'
      =label_tag :answer, 'Here will be result', class: 'col-sm-8', id: 'answer'
  .row
    %h3
      Run benchmark
    =button_to 'Addition', benchmark_analogies_path, class: "btn btn-default col-sm-3", remote: true, params: {:analogy_method => 'addition'}
    =button_to 'Direction', benchmark_analogies_path, class: "btn btn-default col-sm-3", remote: true, params: {:analogy_method => 'direction'}
    =button_to 'Multiplication', benchmark_analogies_path, class: "btn btn-default col-sm-3", remote: true, params: {:analogy_method => 'multiplication'}
