$font-stack: 'Open Sans', sans-serif;
$font-main-color: #444;
$font-menu-color: #ccc;
$font-menu-color-hover: goldenrod;
$menu-background-color: #444;
$main-background-color: #fff;
$font-primary-color: goldenrod;
$font-secondary-color: #196789;
$font-secondary-color-light: #5590A9;
$btn-primary-color: goldenrod;
$btn-secondary-color: #196789;
$btn-success-color: #19ac23;
$btn-fail-color: #da2020;
$header-height: 100px;
$semi-transparent-black: rgba(0,0,0,0.8);
$body-bg-king: image-url('bg.jpg');

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:    $shadow;
  box-shadow:         $shadow;
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

@mixin full-window-section($background-image-name) {
  position: relative;
  background-image: image-url($background-image-name);
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

@mixin background-color-overlay($color) {
  background-color: $color;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.65;
  display: initial !important;
}
