/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "_globals";

$nprogress-color: $font-primary-color;
$nprogress-height: 4px;

@import 'nprogress';
@import 'nprogress-bootstrap';


*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body {

  height: 100%;
}

body {
  font-family: $font-stack;
  font-weight: 100;
  color: $font-main-color;

  background-image: $body-bg-king;
  background-attachment: fixed;
}


header {
  z-index: 100;
  //@include box-shadow(0px 10px 10px 1px rgba(50, 50, 50, 0.75));

  nav {

    height: 80px;
    position: fixed;
    padding-top: 20px;

    .btn-menu {
      display: inline;

      height: 100%;
      background: $menu-background-color;
      border: none;
      outline:none;
      padding-right: 20px;

      color: $font-menu-color;
      font-size: 2.0em;

    }

    .btn-menu:hover, .btn-menu-active, .btn-menu-on {
      color: $font-menu-color-hover;
      text-decoration: none;

    }

  }

  h1
  {
    color: $font-menu-color;
  }

   .logo img {
    height: 86px;
  }
}

.row-header {
  background-color: $menu-background-color;
}

.center-section {
  background: $main-background-color;
}

.center {
  text-align: center;
}

.glyphicon {
  cursor: pointer;
}

.row-core {
  height: 100%;
}

.dropdown-shown {
  display: block;
}

.fixed {
  position: fixed;
}
.btn-default {
  background-color: $btn-primary-color;
  color: white;
  @include transition(all 0.2s);
}
.btn-default:hover {
  color: white;
  background-color: darken($btn-primary-color, 10%)
}
