.container
  .row
    .col-md-6
      %h2
        Instructions
      %p
        Please put Flicker8k_Dataset pictures in public/datasets/Flicker8k_Dataset folder
        %br
        For using analogies upload glove vector file first:
        %i#dataset-uploaded-state.glyphicon.glyphicon-remove{style: "color: red; font-size: 18pt;"}
      =form_tag analogies_path, multipart: true, :remote => true do

        .col-lg-10.col-sm-6.col-12
          .input-group
            %span.input-group-btn
              %span.btn.btn-primary.btn-file
                Browse&hellip;
                =file_field_tag 'glove-file', multiple: true
            %input.form-control{type: 'text', readonly: true}

        =submit_tag 'Analyze', class: 'btn btn-success'

      =form_tag search_image_searcher_index_path, :remote => true, method: :get do
        %h2
          Search picture
        .row
          .col-sm-3
            %span.input-group-addon
              =radio_button_tag :image_search_method, 'unigram', true
              =label_tag :image_search_method_unigram, 'Unigram'
          .col-sm-3
            %span.input-group-addon
              =radio_button_tag :image_search_method, 'vectors', false
              =label_tag :image_search_method_vectors, 'Vectors'
          .col-sm-4
            .input-group
              =text_field_tag :mixed_lambda, '', class: 'form-control', placeholder: 'Lambda'
              %span.input-group-addon
                =radio_button_tag :image_search_method, 'mixed', false
                =label_tag :image_search_method_mixed, 'Mixed'

        .row
          ='Choose aggregation method:'
          =radio_button_tag :aggregation_method, 'aggregate_ranking_avg', true
          =label_tag :aggregation_method_average, 'Average'
          =radio_button_tag :aggregation_method, 'aggregate_ranking_best'
          =label_tag :aggregation_method_best, 'Best'

        .row
          #search-input
            .input-group.col-md-12
              =text_field_tag :q, '', class:'form-control input-lg'
              %span.input-group-btn
                =button_tag class:'btn btn-info btn-lg', type: :submit do
                  %i.glyphicon.glyphicon-search
      .row
        %h3
          Run benchmark
        =form_tag benchmark_image_searcher_index_path, remote: true do
          .row
            =check_box_tag :just_test, '1', true
            =label_tag :just_test, 'Just test data'
          .row
            ='Choose aggregation method:'
            =radio_button_tag :aggregation_method, 'aggregate_ranking_avg', true
            =label_tag :aggregation_method_average, 'Average'
            =radio_button_tag :aggregation_method, 'aggregate_ranking_best'
            =label_tag :aggregation_method_best, 'Best'
          =submit_tag 'Unigram', name: :image_search_method, value: 'unigram',  class: "btn btn-default col-sm-2"
          =submit_tag 'Vectors', name: :image_search_method, value: 'vectors', class: "btn btn-default col-sm-2"
          .col-sm-4
            .input-group
              =text_field_tag :mixed_lambda, '', class: 'form-control', placeholder: 'Lambda'
              %span.input-group-btn
                =submit_tag 'Mixed', name: :image_search_method, value: 'mixed', class: "btn btn-default"

  .row
    %h2
      Search results
    #search-results
