.row.row-header
  .col-md-2
  %nav.col-md-8.center
    .btn-group
      =link_to 'Analogies', analogies_path, :class => 'btn-menu'
      =link_to 'Image Search', image_searcher_index_path, :class => 'btn-menu'
      =link_to 'Embeddings-Based NN Search', embeddings_based_search_index_path, :class => 'btn-menu'
      =link_to 'Multi-Modal Search', cca_search_index_path, :class => 'btn-menu'