<!DOCTYPE html>
<html>
<head>
  <title>Semantic Embeddings in Informatial Retrieval</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header-container container-fluid">
  <%= render 'layouts/header' %>
</header>

<div class="body-container container-fluid">

  <div class="row row-core">
    <div class="left-section col-md-offset-1 col-md-2">
      <%= yield :left_panel %>
    </div>

    <div class="center-section col-md-6">
      <div class="unobtrusive-flash-container"></div>
      <%= yield %>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>

</body>
</html>
